#conf-setup-menu
	%ul
		%li#conf-loader Ładowanie...

#conf-bike
	#conf-rtyr.conf-element
	#conf-ftyr.conf-element
	#conf-fobr.conf-element
	#conf-robr.conf-element
	#conf-chwy.conf-element
	#conf-siod.conf-element
	#conf-nozk.conf-element
	#conf-lamp.conf-element
	#conf-korb.conf-element
	#conf-lanc.conf-element
	#conf-kier.conf-element
	#conf-fblo.conf-element
	#conf-rblo.conf-element
	#conf-oslo.conf-element
	#conf-most.conf-element
	#conf-panc.conf-element
	#conf-ster.conf-element
	#conf-szty.conf-element
	#conf-fszp.conf-element
	#conf-rszp.conf-element
	#conf-hamu.conf-element
	#conf-base.conf-element
	#conf-wide.conf-element

#conf-setup-secondary-menu
	%ul

.clearfix

#conf-bottom-bar
	#conf-element-type-desc
		%p 
			%strong Typ elementu:
		%p.type Generowany tekst
	#conf-element-color-selector
		%p.label
			%strong Wybierz kolor:
		#conf-element-colors
			%ul
	#conf-element-pricebox
		%p.label 
			Cena roweru
			%br
			%span Kwota zawiera podatek vat 23%
		%p.price 1234,56 zł

	.clearfix

#conf-submit-bar
	%a.submit Kupuję
	%a.clear Wyczyść
	%a.twitter Twitter
	%a.facebook Facebook